header{
    display: flex;
    justify-content: space-between;
    justify-content:space-around;
    align-items: center;
    color:aliceblue;
}
.dropdown-content{
    display:none;
    position: absolute;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.5);
    
}
.dropdown:hover .dropdown-content{
    display: block;
}
body{
    background-image: url(https://cdn.suwalls.com/wallpapers/nature/natural-stone-arch-in-the-crystal-clear-water-48815-1920x1080.jpg);
    background-size: cover;
    background-attachment: fixed;
}
header div a{
    text-decoration: none;
    color: #003C43;
    display: flex; 
    font-weight: bold;  
}
header a{
    text-decoration: none;
    color:aliceblue;
}
.container{
    background-color:  rgba(255,255,255,0.5);
    color: #003C43;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    margin-top:60px;
}
.bone,.bthree,.bfour,.bfive,.bsix,.bseven,.beight,.bnine,.bten{
    font-weight: bold;
    margin-bottom: 10px;
}
.done,.dthree,.dfour,.dfive,.dsix,.dseven,.deight,.dnine,.dten{
    margin-bottom: 30px;
}
.fone{
    background-color: black;
    color: #afb3b7;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
}